.contact-tittle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tittle{
    color: blue;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    cursor: pointer;
    border-bottom: 2px solid blue;
    width: fit-content;
}
.contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .contact-form{
    width: 80%;
}
.contact .contact-form h6{ 
    margin-top: 20px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.418);
    width: 500px;
}
.contact .contact-form div{
    width: 99%;
    height: 40px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.contact .contact-form div input{
    height: 100%;
    font-size: 12px;
    width: 500px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.767);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    outline: none;
}
.contact .contact-form .message{
    height: 130px;
}
.contact .contact-form div textarea{
    padding-top: 10px;
    height: 100%;
    font-size: 12px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.767);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    width: 500px;
}
.contact .contact-form .btn{
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
}
.contact .contact-form .btn h6{
    margin: 0;
    padding: 0;
    height: 30px;
    padding-top: 10px;
    width: 500px;
    text-align: center;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
.contact .contact-form .btn h6 a{
    color: white;
    text-decoration: none;
}